    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>SecretLetter</title>
</head>
<body>
    <label for="message">Your Message</label>:<br>
    <textarea id="message" style="height: 100px; width:500px; resize: none;"  placeholder="Enter your message" name="message" oninput="autoResize(this)"></textarea><br>

    <label for="passphrase">Your passphrase(required)</label><br>
    <input id="passphrase" required name="passphrase" style="width: 500xp;height: 50px;" max="20" placeholder="passphrase(for future decryption)" oninput="autoResize(this)"/><br>
    <br>

    <label for="times">Layers of encryption</label><br>
    <select id="times">
        <option disabled>Select Layers of encryption</option>
        <option value="1" selected>1</option>
        <option value="2">2(medium security)</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5(most secure)</option>
    </select>
    
    <button id="send">Encrypt</button><br>

    
    
    <textarea style="height:200px; width:500px; resize:none;overflow-y: hidden;box-sizing: border-box;
  min-height: 3em;" id="Encrypted" disabled > </textarea><br>
  <button id="copyBtn" disabled onclick="copyToClipboard(this)">📋Copy</button>
  
  <p>Want to decrypt?<a href="decrypter.html">Click here</a></p>
  
  <div id="error">
    <p id="errorMessage" style="color: red;background-color:gray;"></p>
  </div>
    
</body>
<script>
    function copyToClipboard(id){

            const txt=$("#Encrypted").val()
            navigator.clipboard.writeText(txt);
            $(id).text("✅Copied!!");
            setTimeout(()=>{
                $(id).text("📋Copy");
            },2000);
        }
     function resizeOutputTextArea(id,output){
            const ta=document.getElementById(id);
            ta.value=output;
            ta.style.height='auto';
            ta.style.height=ta.scrollHeight+'px';
        }
     $("#send").on("click", function(){
        const data={
            message:$("#message").val(),
            passphrase:$("#passphrase").val(),
            times:$("#times").val(),
            mode:"encrypt"
        };

        $.ajax({
            url:"../Controller/Controller.php",
            type:"POST",
            data:data,
            dataType:"json",
            success:function(res){
                  if(res.status==='success'){
                    $("#copyBtn").removeAttr('disabled');
                    resizeOutputTextArea("Encrypted",res.response);
                  }  
                  else{
                    alert("Failed");
                  }
            },
            error:function(xhr){
                $("#errorMessage").text(xhr.responseJSON.message);            
            }
        });
    });

function autoResize(textarea){
    textarea.style.height='auto';
    textarea.style.height=textarea.scrollHeight+'px';
}

</script>
</html>